{% block monsieurbiz_sylius_media_manager_image_row %}
    <div class="monsieurbiz-sylius-file-manager__image-field field">
        {{- form_row(form, {'attr': {'style': 'display: none;', 'data-file-type': fileType}}) -}}
        <div class="field">
            <div class="monsieurbiz-sylius-file-manager__current" {%- if form.vars.value is empty -%}style="display: none;"{%- endif -%}>
                <p>
                    <small>{{ 'monsieurbiz_sylius_media_manager.ui.current_image' | trans }}</small><br />
                    <img src="{{ form.vars.value ? form.vars.value|imagine_filter('monsieurbiz_sylius_media_manager_uploaded_image', {"relative_resize": {"widen": filterWidth }}) : '' }}" alt="" style="max-width: 300px;max-height: 300px;" />
                </p>
            </div>
            <button type="button" class="ui button" onclick="monsieurbizSyliusMediaManagerChooseFile('{{ form.vars.full_name | escape('js') }}', '{{ form.vars.value | escape('js') }}', '{{ folder | escape('js') }}');">
                {{ 'monsieurbiz_sylius_media_manager.ui.choose_image' | trans }}
            </button>
        </div>
    </div>
{% endblock %}

{% block monsieurbiz_sylius_media_manager_video_row %}
    <div class="monsieurbiz-sylius-file-manager__video-field field">
        {{- form_row(form, {'attr': {'style': 'display: none;', 'data-file-type': fileType}}) -}}
        <div class="field">
            <div class="monsieurbiz-sylius-file-manager__current" {%- if form.vars.value is empty -%}style="display: none;"{%- endif -%}>
                <p>
                    <small>{{ 'monsieurbiz_sylius_media_manager.ui.current_video' | trans }}</small><br />
                     <video width="320" height="240" controls>
                        <source src="{{ form.vars.value ? get_media_manager_file_path(form.vars.value) : '' }}">
                    </video>
                </p>
            </div>
            <button type="button" class="ui button" onclick="monsieurbizSyliusMediaManagerChooseFile('{{ form.vars.full_name | escape('js') }}', '{{ form.vars.value | escape('js') }}', '{{ folder | escape('js') }}');">
                {{ 'monsieurbiz_sylius_media_manager.ui.choose_video' | trans }}
            </button>
        </div>
    </div>
{% endblock %}

{% block monsieurbiz_sylius_media_manager_pdf_row %}
    <div class="monsieurbiz-sylius-file-manager__file-field field">
        {{- form_row(form, {'attr': {'style': 'display: none;', 'data-file-type': fileType}}) -}}
        <div class="field">
            <div class="monsieurbiz-sylius-file-manager__current" {%- if form.vars.value is empty -%}style="display: none;"{%- endif -%}>
                <p>
                    <small>{{ 'monsieurbiz_sylius_media_manager.ui.current_file' | trans }}</small><br />
                    <a href="{{ form.vars.value ? get_media_manager_file_path(form.vars.value) : '' }}" target="_blank" rel="noopener noreferrer">
                        {{ form.vars.value }}
                    </a>
                </p>
            </div>
            <button type="button" class="ui button" onclick="monsieurbizSyliusMediaManagerChooseFile('{{ form.vars.full_name | escape('js') }}', '{{ form.vars.value | escape('js') }}', '{{ folder | escape('js') }}');">
                {{ 'monsieurbiz_sylius_media_manager.ui.choose_file' | trans }}
            </button>
        </div>
    </div>
{% endblock %}

{% block monsieurbiz_sylius_media_manager_favicon_row %}
    <div class="monsieurbiz-sylius-file-manager__image-field field">
        {{- form_row(form, {'attr': {'style': 'display: none;', 'data-file-type': fileType}}) -}}
        <div class="field">
            <div class="monsieurbiz-sylius-file-manager__current" {%- if form.vars.value is empty -%}style="display: none;"{%- endif -%}>
                <p>
                    <small>{{ 'monsieurbiz_sylius_media_manager.ui.current_image' | trans }}</small><br />
                    <img src="{{ form.vars.value ? form.vars.value|imagine_filter('monsieurbiz_sylius_media_manager_uploaded_image', {"relative_resize": {"widen": filterWidth }}) : '' }}" alt="" style="max-width: 40px;max-height: 40px;" />
                </p>
            </div>
            <button type="button" class="ui button" onclick="monsieurbizSyliusMediaManagerChooseFile('{{ form.vars.full_name | escape('js') }}', '{{ form.vars.value | escape('js') }}', '{{ folder | escape('js') }}');">
                {{ 'monsieurbiz_sylius_media_manager.ui.choose_image' | trans }}
            </button>
        </div>
    </div>
{% endblock %}
