<div class="ui list">
    {% for file in files %}
        {% set fileIcon = file.isDir ? 'folder' : file.isImage ? 'image' : file.isVideo ? 'video' : file.isPdf ? 'file pdf' : file.isFavicon ? 'image' : file.isAudio ? 'music' : file.isFile ? 'file' : 'question' %}
        <div class="item">
            <div class="right floated content">
                {% include '@MonsieurBizSyliusMediaManagerPlugin/Admin/MediaManager/Modal/Content/Files/_deleteFile.html.twig' %}
            </div>
            <div class="right floated content">
                {% include '@MonsieurBizSyliusMediaManagerPlugin/Admin/MediaManager/Modal/Content/Files/_previewFile.html.twig' %}
            </div>
            <i class="{{ fileIcon }} icon" style="width: 10px;"></i>
            <div class="content monsieurbiz-sylius-file-manager__item"
            {%- if file.isDir -%}onclick="monsieurbizSyliusMediaManagerDisplayPath('{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ file.path | escape('js')}}', '{{ mimeTypes|escape('js') }}');"{%- endif -%}
            {%- if file.isFile -%}onclick="monsieurbizSyliusMediaManagerConfirmFile('{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ file.path | escape('js')}}');"{%- endif -%}
        >
                <div class="{{ file.isDir ? 'header' : file.isFile ? 'description' : 'description' }}">
                    {{ file.name }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
