<div class="ui list">
    <div class="item monsieurbiz-sylius-file-manager__item monsieurbiz-sylius-file-manager__item-new-folder">
        <i class="plus icon"></i>
        <div class="content">
            {# Button to create folder #}
            <div 
                class="description monsieurbiz-sylius-file-manager__new-folder-label ui button mini basic" 
                style="max-width: 200px;" 
                onclick="this.style.display='none';this.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder').style.display='block';this.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder input').focus();"
            >
                {{ 'monsieurbiz_sylius_media_manager.ui.create_folder' | trans }}
            </div>
            
            {# Form to create folder #}
            <div class="description monsieurbiz-sylius-file-manager__new-folder ui form mini" style="display: none;">
                <input type="text" name="folder" class="ui field" style="max-width: 200px;height:28px;"/>
                <div 
                    class="ui button mini" 
                    onclick="monsieurbizSyliusMediaManagerCreateFolder(this.parentNode.querySelector('input'), '{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ path | escape('js')}}')"
                >
                    {{ 'monsieurbiz_sylius_media_manager.ui.create' | trans }}
                </div>
                <div 
                    class="ui button mini basic" 
                    onclick="this.parentNode.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder').style.display='none';this.parentNode.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder-label').style.display='block';"
                >
                        {{ 'monsieurbiz_sylius_media_manager.ui.cancel' | trans }}
                </div>
            </div>
        </div>
    </div>
</div>
