<div class="ui modal monsieurbiz-sylius-file-manager__modal">
    <div class="header">
        {{ 'monsieurbiz_sylius_media_manager.ui.choose_file' | trans }} : {{ path }}
    </div>

    <div class="content">
        <div class="ui list">
            <div class="item monsieurbiz-sylius-file-manager__item">
                <i class="plus icon"></i>
                <div class="content">
                    <div class="description" onclick="this.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder').style.display='block';">{{ 'monsieurbiz_sylius_media_manager.ui.create_folder' | trans }}</div>
                    <div class="description monsieurbiz-sylius-file-manager__new-folder ui form mini" style="display: none;">
                        <input type="text" name="folder" class="ui field" style="max-width: 200px;"/>
                        <div class="ui button mini" onclick="monsieurbizSyliusMediaManagerCreateFolder(this.parentNode.querySelector('input'), '{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ path | escape('js')}}')">{{ 'monsieurbiz_sylius_media_manager.ui.create' | trans }}</div>
                        <div class="ui button mini basic" onclick="this.parentNode.parentNode.querySelector('.monsieurbiz-sylius-file-manager__new-folder').style.display='none';">{{ 'monsieurbiz_sylius_media_manager.ui.cancel' | trans }}</div>
                    </div>
                </div>
            </div>
            {% for file in files %}
                <div class="item monsieurbiz-sylius-file-manager__item"
                    {%- if file.isDir -%}onclick="monsieurbizSyliusMediaManagerDisplayPath('{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ file.path | escape('js')}}');"{%- endif -%}
                    {%- if file.isFile -%}onclick="monsieurbizSyliusMediaManagerConfirmFile('{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ file.path | escape('js')}}');"{%- endif -%}
                >
                    <i class="{{ file.isDir ? 'folder' : file.isFile ? 'file' : 'question' }} icon"></i>
                    <div class="content">
                        <div class="{{ file.isDir ? 'header' : file.isFile ? 'description' : 'description' }}">{{ file.name }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="actions">
        <label>{{ 'monsieurbiz_sylius_media_manager.ui.upload_file_in_this_folder' | trans }} :</label>
        <input type="file" name="file" class="ui button" onchange="mediaUploadFile(this, '{{ inputName | escape('js') }}', '{{ folder | escape('js')}}', '{{ path | escape('js')}}')" />
        <div class="ui button close" onclick="monsieurbizSyliusMediaManagerCloseModal();">{{ 'monsieurbiz_sylius_media_manager.ui.cancel' | trans }}</div>
    </div>
    <div class="ui dimmer inverted monsieurbiz-sylius-file-manager__loader">
        <div class="ui loader"></div>
    </div>
</div>
